{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-brace-presence": [1, { "props": "always", "children": "never" }],
    "react/jsx-props-no-spreading": 0,
    "import/no-named-as-default": 0,
    "linebreak-style": 0
  },
  "env": {
      "es6": true,
      "node": true,
      "jest": true,
      "browser": true
  }
}
